:root{
    /*Setting text colour to variables*/
    --paragraph-text-colour: #ffffff;
    --h1-text-colour: #FF6300;
    --h2-text-colour: #ffffff;
    --h3-text-colour: #ffffff;

    /*setting text font to variables*/
    --paragraph-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --h1-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --h2-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --h3-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /*setting text size to variables*/
    --paragraph-text-size: 15px;
    --h1-text-size: 60px;
    --h2-text-size: 50px;
    --h3-text-size: 25px;

    /*all css variables for the 'a' tag*/
    --a-text-colour: #ffffff;
    --a-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*applying css to body*/
body{
    background-color: #080424;
    margin: 0;
    padding: 0;
}

/*applying css to p tag*/
p{
    color: var(--paragraph-text-colour);   
    font-family: var(--paragraph-text-font);
    font-size: var(--paragraph-text-size);
}

/*applying css to h1 tag*/
h1{
    color: var(--h1-text-colour);
    font-family: var(--h1-text-font);
    font-size: var(--h1-text-size);
    margin: 0;
}

/*applying css to h2 tag*/
h2{
    color: var(--h2-text-colour);
    font-family: var(--h2-text-font);
    font-size: var(--h2-text-size);

}

/*applying css to h3 tag*/
h3{
    color: var(--h2-text-colour);
    font-family: var(--h2-text-font);
    font-size: var(--h3-text-size);
}

/*applying styling to all 'a' tags*/
a:link, a:visited{
    text-decoration: none;
    color: var(--a-text-colour);
    font-family: var(--a-text-font);
}

/*applying styling to all 'a' tags*/
a:hover{
    color: #FF6300;
    text-shadow: 0 0 15px #FF6300;
}

/*----------NAVIGATION BAR CSS - BEGINS----------*/
/*applying css to the navigation bar*/
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

/*applying css to the navigation bar's a tag*/
nav a {
    padding: 0px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
/*----------NAVIGATION BAR CSS - ENDS----------*/

/*----------TOP OF THE PAGE (PROFILE PIC & NAME) CSS - BEGINS----------*/
/*applying css to the profile picture*/
.profile-picture img{
    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
    width: 170px; 
    height: 170px; 
    object-fit: none;
    object-position: 50% 50%;
    box-shadow: 10px -10px 80px 20px #170979;
}

/*adds a shadow over the profile picture on hover*/
.profile-picture img:hover{
    box-shadow: 10px -10px 80px 50px #170979;
}

/*class for the first section of html which shows when the webpage first loads*/
.initial-intro{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.initial-intro h1:hover{
    text-shadow: 0 0 15px #FF6300;
}
/*----------TOP OF THE PAGE (PROFILE PIC & NAME) CSS - ENDS----------*/

/*----------ABOUT ME SECTION CSS - BEGINS----------*/
/*class for the about me section of html*/
.about-me{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-top: 30px;
}

/*applying css to the about me section's h2 tag*/
.about-me h2{
    margin: 0;
    padding-left: 100px;
    padding-right: 30px;
    text-align: right;
}

/*applying css to the about me section's div tag*/
.about-me div{
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3A2972;
}

/*adds box shadow on hover*/
.about-me div:hover{
    box-shadow: 0px 0px 40px #1E107D;
}

/*applying css to the about me section's p tag*/
.about-me div p{
    line-height: 175%;
    letter-spacing: 1px;
}
/*----------ABOUT ME SECTION CSS - ENDS----------*/

/*----------WORK SECTION CSS - BEGINS----------*/
/*setting the structure of the work section with a class named work*/
.work{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-top: 30px;
}

/*applying css to the h2 tag of work section*/
.work h2{
    margin: 0;
    padding-left: 100px;
    padding-right: 30px;
    text-align: right;
}

/*setting structure to the work section's div tag by expanding the div*/
.parent-div{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

/*setting the flex grow so that the first project fills up the top half*/
.child-div{
    flex-grow: 1;
    overflow: hidden;
}

/*applying css to the first project div*/
.top-div{
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: #3A2972;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

/*adds box shadow on hover*/
.top-div:hover{
    box-shadow: 0px 0px 40px #1E107D;
}

/*applying css to the div which contains the other four projects*/
.bottom-div{
    display: flex;
    flex-direction: row;
    height: 50%;
}

/*applying css to the four projects*/
.individual-bottom-div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: #3A2972;
}

/*adds box shadow on hover*/
.individual-bottom-div:hover{
    box-shadow: 0px 0px 40px #1E107D;
}

/*applying margin to the h3 in work section*/
.parent-div h3{
    margin-bottom: 10px;
    margin-left: 10px;
}

/*containing demo image in div*/
.top-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

/*containing demo image in div*/
.bottom-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

/*aligning project names in work section*/
.align-text{
    position: absolute;
}

/*applying hover pseudo class to project names*/
.align-text a:hover{
    color: white;
    text-shadow: 0px 0px 40px white;
}
/*----------WORK SECTION CSS - ENDS----------*/

/*----------CONTACT ME CSS - BEGINS----------*/
/*adds structure to the contact me section*/
.contact-me{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-top: 30px;
}

/*applied css to the h2 tag in contact me section*/
.contact-me h2{
    margin: 0;
    padding-left: 20px;
    padding-right: 30px;
    text-align: right;
}

/*applying css to the contact me section's div tag*/
.contact-me div{
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3A2972;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*adds box shadow on hover*/
.contact-me div:hover{
    box-shadow: 0px 0px 40px #1E107D;
}
/*----------CONTACT ME CSS - ENDS----------*/

  /*align center class*/
.align-center
{
    text-align: center;
}

/*align right class*/
.align-right
{
    text-align: right;
}

/*----------MEDIA QUERY MAX 768px CSS - BEGINS----------*/
@media screen and (max-width: 768px) {

    /*reshaping the h2 tags*/
    h1, h2 { font-size: 40px; }
    h3{ font-size: 20px; }

    /*aligning nav bar in the center*/
    nav{
        flex-direction: row;
        justify-content: center;
    }

    /*adjusting the cont of nav bar text*/
    nav ul a{
        font-size: 11px;
    }

    /*re-shaping the size of the profile picture*/
    .profile-picture img{
        width: 130px;
        height: 130px;
        object-position: 50% 50%;
    }

    /*re-structuring the about me section for improved view*/
    .about-me{
        flex-direction: column;
        margin-left: 30px;
    }

    /*aligning h2 to the left*/
    .about-me h2{
        text-align: left;
        padding: 0;
    }

    /*re-structuring the work section for improved view*/
    .work {
        flex-direction: column;
        margin-left: 30px;
    }

    /*aligning h2 to the left*/
    .work h2{
        text-align: left;
        padding: 0;
    }

    /*re-structuring the contact me section for improved view*/
    .contact-me {
        flex-direction: column;
        margin: 30px;
        padding: 0;
    }
    
    /*aligning h2 to the left*/
    .contact-me h2{
        text-align: left;
        padding: 0;
    }

    /*re-structuring the contant info for improved view*/
    .contact-me div{
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}
/*----------MEDIA QUERY MAX 768px CSS - ENDS----------*/

/*----------MEDIA QUERY MAX 480px CSS - BEGINS----------*/
@media screen and (max-width: 480px) {

    /*reshaping the h2 tags*/
    h1, h2 { font-size: 30px; }
    h3{ font-size: 15px; }

    /*aligning nav bar to the center*/
    nav ul{
        padding: 0;
    }

    /*adjusting the cont of nav bar text*/
    nav ul a{
        font-size: 10px;
    }

    /*re-shaping the size of the profile picture*/
    .profile-picture img{
        width: 110px;
        height: 110px;
        object-position: 50% 37%;
    }

    /*reshaping font size of the subheading below h1 tag on page reload*/
    .initial-intro p{ font-size: 10px; }

    /*h2 tag aligned to center*/
    .about-me h2{
       text-align: center;
    }
    
    /*h2 tag aligned to center*/
    .work h2{
        text-align: center;
    }



    /*re-structuring the work section for improved view*/
    .bottom-div{
        flex-direction: column;
        height: 25%;
    }
}
/*----------MEDIA QUERY MAX 480px CSS - ENDS----------*/
